body {
  background-color: black;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 200%;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-weight: 300;
}

.well {
  background-color: teal;
  text-align: center;
  border: none;
}

#rules {
  padding-left: 20px;
}

.btn {
  background-color: teal;
}
